<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CarLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Apply For Car Loan</h2>
                    <div class="service-img">
                        <img src="/img/slider/carloan3.png" alt="service" width="779" height="400">
                    </div>
                    <div class="contact-box3">

                        <div class="item-heading">
                            <h2 class="item-title">Congratulations! You’ve chosen the best Car Loan</h2>
                            <p>Keep the required list of documents handy for a quick process.</p>
                        </div>
                        <form class="message-box">
                            <div class="row gutters-10">
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="fname" placeholder="First Name*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="lname" placeholder="Last Name*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Loan Amount*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="PAN Number*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="City Name" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Monthly Income*" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="item-btn">Apply For Loan</button>
                                </div>
                            </div>
                            <div class="form-response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>