<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CarLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Documents Required for a Car Loan</h2>
                    <div class="service-img">
                        <img src="/img/slider/carloan2.png" alt="service" width="779" height="400">
                    </div>
                    <p>
                        You will be required to submit documents prescribed by your lender to prove your eligibility and competence for a Car Loan. To begin with the loans process, keep the following documents nearby at hand to avail a Loan at the earliest.

                    </p>
                    <ul class="service-list">
                        <li>
                            <i class="fas fa-check"></i> Photo Identity Proof:

                            Voter ID
                            Passport
                            Driving License
                            Aadhaar Card
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Age Proof:

                            Voter ID
                            Passport
                            Driving License
                            Aadhaar Card
                            Birth Certificate
                            Secondary School Leaving Certificate
                            Pension Payment Order or Receipt
                            LIC Policy
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Address Proof:

                            Rent Agreement
                            Bank Statement
                            Ration card
                            Passport
                            Driving License
                            Electricity Bill
                            Property Tax Receipt
                            Water Bill
                            Telephone Bill
                            Credit Card Bill
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Income Proof:

                            3 Months Salary Statement
                            6 Months Bank Statements
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Income Tax:

                            Form 16
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Employment Proof:

                            Employers Letter
                            Identification Card

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Photograph:

                            3 Passport Size Photograph
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</section>