
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CarLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Car Loan Eligibility Criteria</h2>
                    <div class="service-img">
                        <img src="/img/slider/carloan.png" alt="service" width="779" height="400">
                    </div>
                    <p>
                        Cars today are a status symbol, as well as a utility that serves day-to-day purposes. Essential to your comfort and to the demands of time, your aspirations to own a car are now within reach. We at finocred.com have collaborated with several well-known banks and NBFCs to offer you an array of car finance solutions for a comfortable living. finocred.com has on offer tailor-made car loans that differ in terms of individual abilities, and other factors. To own a car, talk to your finocred Team for beneficial alternatives via phone, email, or chat, and apply for a Car Loan to get your finocred.com Flexible Car Loans Advantage. Eligibility criteria for car loans are as follows.

                    </p>
                    <h3>Salaried Individual</h3>
                    <ul class="service-list">
                        <li>
                            <i class="fas fa-check"></i> Resident Citizens of Indian

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Minimum Age: 21 years

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Maximum Age: 60 years at Loan Maturity

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Income Requirement: Minimum Rs. 2,50,000 p.a.

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Employment: Minimum 2 years, and 1 year with Current Employer

                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Healthy savings history and professional stability

                        </li>
                    </ul>

                    <h3>Self Employed Individual</h3>
                    <ul class="service-list">
                        <li>
                            <i class="fas fa-check"></i> Resident Citizens of Indian



                        </li>
                        <li>
                            <i class="fas fa-check"></i> Minimum Age: 21 years

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Maximum Age: 60 years at Loan Maturity

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Income Requirement: Minimum Rs. 2,50,000 p.a.

                        </li>
                        <li>
                            <i class="fas fa-check"></i> Business: Minimum 2 years in Current Profession



                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Minimum 1 year Business Vintage



                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

