
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CarLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Car Loan Overview</h2>
                    <div class="service-img">
                        <img src="/img/slider/slider5.png" alt="service" width="779" height="400">
                    </div>
                    <p>Cars today are a basic utility that everyone feels the need to own. You've been waiting patiently and saving for that purpose. Ekagra Finserv offers you the opportunity to own a car that you would not dream to own a decade ago. Ekagra Finserv offers tailor-made car loans with exclusive features both for salaried and self-employed persons. To get your car within your reach, talk to your Ekagra Finserv Team for constructive choices via phone, email, or chat, and apply for a Car Loan to get your Ekagra Finserv' Flexible Car Loans Advantage. Own a car you want with Ekagra Finserv team at your service!</p>
                    <h3>
                        Car Loan - Process
                    </h3>
                    <ul class="service-list">
                        <li><i class="fas fa-check"></i> Select the Product</li>
                        <li><i class="fas fa-check"></i> Fill Out Application</li>
                        <li><i class="fas fa-check"></i> Receive Sanction Letter</li>
                        <li><i class="fas fa-check"></i> Approval of Loan</li>
                        <li><i class="fas fa-check"></i> Loan Amount Disbursal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
