
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_BusinessLoanPartial" />                
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Business Loan Eligibility Criteria</h2>

                    <div class="service-img">
                        <img src="/img/slider/slider2.png" alt="service" width="779" height="400">
                    </div>
                    <p>Simple Requirements | Minimal Documentation | Time-Efficient</p>
                    <p>Accessing quick business finance is easy with the finocred.com. Business owners need only meet the easy criteria and submit basic business loan documents to get started. Minimal requirements greatly simplify business loan procedure and offer financing without any hassles</p>
                    <p>To ensure a smooth experience, be sure to meet all the criteria and submit all the documents required for a new business loan. This will prevent discrepancies in the loan application and will ensure you get approval on your application without any delay.</p>
                    <h4>Business Loan Eligibility Criteria</h4>
                    <table class="table table-striped table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <td class="th border-white">Criteria</td>
                                <td class="th">Requirement</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>Applicants must be between 22 and 62 years of age.</td>
                            </tr>
                            <tr>
                                <td>Work Experience</td>
                                <td>Applicants must have business vintage of at least 3 years.</td>
                            </tr>
                            <tr>
                                <td>Annual Turnover</td>
                                <td>Applicant’s business must have a minimum annual turnover of Rs.20 lakh. </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

