<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_HomeLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Home Loan Documents Required</h2>
                    <div class="service-img5">
                        <img src="/img/slider/homeloan4.png" alt="service" width="779" height="440">
                    </div>
                    <p>
                        <b>
                            Simple Requirements | Quick Approvals | Minimal Paperwork
                        </b>
                    </p>
                    <p>
                        Fulfilling your desire of owning a dream home is easy with Finocred Finserv. Our lenient home loan eligibility terms and minimal need for documents makes accessing funds simpler than ever. We have optimised the experience to suit a variety of borrowers and have taken special care to ease access to housing finance.
                    </p>
                    <h3 class="section-subtitle"> Documents Required For A Home Loan</h3>
                    <table class="table table-responsive table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="th border-white"> </td>
                                <td class="th border-white">Salaried Individuals</td>
                                <td class="th border-white">Self-Employed Individuals</td>
                                <td class="th">Firm / Company</td>
                            </tr>
                            <tr>
                                <td>Identity Documents</td>
                                <td>
                                    <ul class="list">
                                        <li>PAN Card</li>
                                        <li>Aadhaar Card</li>
                                        <li>Passport (Valid)</li>
                                        <li>Driving License with Photo</li>
                                        <li>Voter’s Identity card issued by the Election Commission of India</li>
                                        <li>Job Card issued by NREGA duly signed by an officer of the State Government</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>PAN Card</li>
                                        <li>Aadhaar Card</li>
                                        <li>Passport (Valid)</li>
                                        <li>Driving License with Photo</li>
                                        <li>Voter’s Identity card issued by the Election Commission of India</li>
                                        <li>Job Card issued by NREGA duly signed by an officer of the State Government</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>Firm/Company PAN Card </li>
                                        <li>GST Registration Certificate (If applicable) and Other Applicable Registration</li>
                                        <li>KYC of Partners / Directors PAN Card and Aadhaar Card</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Address Proof</td>
                                <td>
                                    <ul class="list">
                                        <li>Aadhaar Card</li>
                                        <li>Passport (Valid)</li>
                                        <li>Driving License with Photo</li>
                                        <li>Voter’s Identity card issued by the Election Commission of India</li>
                                        <li>Job Card issued by NREGA duly signed by an officer of the State Government</li>
                                        <li>Letter issued by the National Population Register containing details of name and address</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>Aadhaar Card</li>
                                        <li>Passport (Valid)</li>
                                        <li>Driving License with Photo</li>
                                        <li>Voter’s Identity card issued by the Election Commission of India</li>
                                        <li>Job Card issued by NREGA duly signed by an officer of the State Government</li>
                                        <li>Letter issued by the National Population Register containing details of name and address</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>Electricity bill for owned premises</li>
                                        <li>Rent agreement for Rented premises</li>
                                        <li>Passport for Partner / Directors</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Income Documents</td>
                                <td>
                                    <ul class="list">
                                        <li>Salary slip for the past 3 months </li>
                                        <li>Form 16</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>Income Tax Returns along with computation for latest 2 years</li>
                                        <li>Profit/Loss statement and balance sheet for the past 2 years</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list">
                                        <li>Income Tax Returns along with computation for the latest 2 years</li>
                                        <li>Profit/Loss statement and balance sheet for the past 2 years</li>
                                        <li>GST Returns</li>
                                    </ul>
                                </td>

                            </tr>
                            <tr>
                                <td>Bank Account Statement</td>
                                <td>Latest 6 month’s bank statement evidencing salary credits.</td>
                                <td>Operative bank account statement for the latest 6 months.</td>
                                <td>Operative bank account statement for the latest 6 months.</td>
                            </tr>
                            <tr>
                                <td>Property Documents</td>
                                <td colspan="3">If already finalised along with legal &amp; technical clearance of the property.</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>