
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_HomeLoanPartial" />               
            </div>
            <div class="col-lg-9">
                <div class="single-service-box2">
                    <div class="service-img5">
                        <img src="/img/slider/homeloan3.png" alt="service" width="779" height="440">
                    </div>
                    <h2 class="section-title">Home Loan: Eligibility</h2>
                    <p><b>Simple Requirements | Quick Approvals | Minimal Paperwork</b></p>
                    <p>Fulfilling your desire of owning a dream home is easy with Finocred Finserv. Our lenient home loan eligibility terms and minimal need for documents makes accessing funds simpler than ever. We have optimised the experience to suit a variety of borrowers and have taken special care to ease access to housing finance.</p>
                    <h3 class="section-subtitle"> Home Loan Eligibility Criteria</h3>
                    <table class="table table-responsive table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="th border-white"> #</td>
                                <td class="th border-white">Salaried Individuals </td>
                                <td class="th border-white">Self-Employed Individuals</td>
                                <td class="th">Firm / Company</td>
                            </tr>
                            <tr>
                                <td>Eligible Borrowers</td>
                                <td>Government / Semi government / PSU / Private/MNC companies/ Proprietorship/Partnership firms</td>
                                <td>
                                    <ul class="list">
                                        <li>Proprietor / Partners / Directors</li>
                                        <li>Self Employed Professionals such as a Chartered Accountant, Company Secretary &amp; Doctors</li>
                                    </ul>
                                </td>
                                <td>Partnership or Private Limited companies engaged in Manufacturing, Servicing or Trading</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>Applicant must be a minimum of 21 years of age at the time of loan application and should be a maximum of 65 years or the retirement age, whichever is earlier, at loan maturity.</td>
                                <td>Applicant must be a minimum of 21 years of age at the time of loan application and should be a maximum of 65 years at loan maturity.</td>
                                <td>Proprietor / Key Partner / Key Director should be a minimum of 25 years at the time of loan application and should be maximum of 65 years at loan maturity.</td>
                            </tr>
                            <tr>
                                <td>Income</td>
                                <td>Net monthly salary should be Rs.20,000</td>
                                <td>Gross annual income should be of minimum Rs.3 lakh</td>
                                <td>Annual turnover should be a minimum of Rs.10 lakh</td>
                            </tr>
                            <tr>
                                <td>Experience / Vintage</td>
                                <td>Minimum 1 year of work experience</td>
                                <td>Minimum 2 years in current business / profession</td>
                                <td>Business stability / vintage of minimum 3 years in the same business</td>
                            </tr>
                            <tr>
                                <td>Citizenship</td>
                                <td>Individuals with Indian citizenship</td>
                                <td>Individuals with Indian citizenship</td>
                                <td>Proprietor / Partners / Directors with Indian citizenship</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>

