
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_HomeLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box2">
                    <div class="service-img5">
                        <img src="/img/slider/homeloan1.png" alt="service" width="779" height="440">
                    </div>
                    <h2 class="section-title">Home Loan Overview</h2>
                    <h3 class="section-subtitle">Affordable Home Loan with Minimum Documentation</h3>
                    <p><b>Competitive Rates | Flexible Tenure | Doorstep Service | 100% Transparency</b></p>
                    <p>Achieve the milestone of owning a home, and do it easily with Finocred Finserv. Our home loan is the perfect financing tool for all your needs. With simple requirements, quick processing protocols, and online provisions, you don’t have to worry about a thing. Simply finalise the sanction you need and apply online in just 5 steps.</p>
                    <p>Finocred Finserv provides home loans to buy, build, or renovate a home. We offer a long and flexible tenure and a competitive rate, ensuring affordability. What’s more, you can expect complete transparency with all loan dealings. There are no hidden charges whatsoever, and that is our promise. With our customised home loan, owning your dream home is now easier than ever.</p>
                    <h3 class="section-subtitle">Various Reasons To Borrow A Home Loan</h3>
                    <p>Do more with the Finocred Finserv Home Loan. Use the sanction flexibly to meet any home financing expense you may have in mind. Here are some of the common reasons to avail funding.</p>
                    <ul class="service-list">
                        <li><i class="fas fa-check"></i>Improve or extend an existing home or flat</li>
                        <li><i class="fas fa-check"></i>Build a house/bungalow on a plot</li>
                        <li><i class="fas fa-check"></i>Purchase a pre-built home, new or through re-sale</li>
                        <li><i class="fas fa-check"></i>Expand or renovate a housing unit</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
