<section class="about-wrap-layout1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-box4">

                    <h2 class="heading-title">About Finocred Finserv</h2>
                    <h1 style="font-size:22px;">A Glance of Finocred Finserv</h1>
                    <h2 style="font-size:17px;line-height:30px;">
                        Finocred Finserv is one amongst the
                        leading money product and services distribution firms in India.  We’ve over ten years of
                        expertise during this trade it has been at the forefront of delivering delight to its all
                        stakeholders, be it customers, partners, employees, or associates. Today, Finocred Finserv
                        is present in over 200+ locations across India with a network of ~2000 people.
                    </h2>
                    <h2 style="font-size:17px;line-height:30px;">
                        The company was founded in 2021 with the only purpose of easing the
                        whole loan method - from applying to approval to sanctionative.  Within the standard ways in
                        which of accessing a loan, the loan seeker has got to build multiple visits from one bank to a
                        {different} as different banks have their individual loan approving criteria. Apply for an instant
                        personal loan online with attractive interest rates at Finocred Finserv. Get hassle-free loan
                        approval, ‎minimum documentation This is often a really tedious method that consumes a lot
                        of the loan seeker's time and energy.
                    </h2>
                    <h2 class="heading-title">Mission-</h2>
                    <p style="font-size:17px;line-height:30px;">
                        With an aim to aid people with their financial goals, dreams, and aspirations -
                        Finocred Finserv facilitates people with the most sorted way of getting loan offers
                        from multiple banks.
                    </p>
                    <h2 class="heading-title">Vision-</h2>
                    <p style="font-size:17px;line-height:30px;">
                        Become India’s No. 1 Corporate DSA Loan Partner and avail multiple benefits by a
                        person against very smooth loan proposal processing.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="financo-activities-wrap1">
    <div class="container">
        <h2 class="heading-title text-center">Our Company Highlights</h2>
        <div class="row no-gutters" style="box-shadow: 0 6px 38px rgb(0 0 0 / 5%);-webkit-box-shadow: 0 6px 38px rgb(0 0 0 / 5%);">
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl1.png" alt="figure" width="55" height="55">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">Partnered With Multiple Banks & NBFCs</h3>
                            <p>We're collaborated with leading banks to provide the best loan offers</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl2.png" alt="figure" width="60" height="60">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">High-Rated Google Reviews</h3>
                            <p>
                                Thanks to our quick services, our customers experience high satisfaction

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl3.png" alt="figure" width="60" height="60">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">
                                Huge Customer Base – 1 Lakh + Customers
                            </h3>
                            <p>
                                Our ever-increasing customer base reflects customer trust & appreciation

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl4.png" alt="figure" width="60" height="60">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">Large Network of 1000 + Partnerss</h3>
                            <p>
                                Our partners are being benefited by the company's exponential growth

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl5.png" alt="figure" width="60" height="60">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">
                                Esteemed Media Coverage
                            </h3>
                            <p>
                                We're everywhere! We've been covered by prestigious media houses

                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="about-box1 hightlight">
                    <div class="media">
                        <div class="item-img">
                            <img src="/assets/img/hl6.png" alt="figure" width="60" height="60">
                        </div>
                        <div class="media-body">
                            <h3 class="heading-title">
                                PAN India Service
                            </h3>
                            <p>
                                Our loan services are availed by people from all corners of the country

                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
