<section class="call-back-wrap" style="background: #8300ff;">
    <div class="container">
        <div class="row no-gutters">

            <div class="col-lg-12 col-md-12">
                <div class="call-back-box1" style="background: none;">
                    <h3 class="section-title">Submit Your Job Interest</h3>
                    <form class="message-box" enctype="multipart/form-data" method="POST" action="#">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="label-text"> First Name</label>
                                <input type="text" class="form-control" name="fname" placeholder="First Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="label-text"> Last Name</label>
                                <input type="text" class="form-control" name="lname" placeholder="Last Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="label-text"> Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="label-text"> Mobile Number</label>
                                <input type="text" class="form-control" name="phone" placeholder="Mobile Number">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="label-text"> City Name</label>
                                <input type="text" class="form-control" name="city" placeholder="Enter Your City Name">
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="label-text"> Upload Resume</label>
                                <input type="file" class="form-control" name="city" placeholder="Enter Your PAN Number">
                            </div>
                            <div class="form-group col-lg-4">
                                <button type="submit" name="button" value="Submit" class="item-btn btn-block">Submit Now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>
