<section class="contact-wrap1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box1">
                    <h2 class="heading-title">Mail for information</h2>
                    <ul class="contact-list">
                        <li>contact@finocred.com</li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-envelope"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box1">
                    <h2 class="heading-title">Office Phone Number</h2>
                    <ul class="contact-list">
                        <li>+ (91) 88188-20586</li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-phone"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box1 contact-box4">
                    <h2 class="heading-title">Office Address</h2>
                    <ul class="contact-list2">
                        <li>PO Box Collins Street 5980, India</li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-map"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-wrap2">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-lg-6">
                <div class="contact-box2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7332.547743095464!2d77.43371100000002!3d23.233119!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7acc20f1c8d94e8!2sUsha%20Tech%20Solution!5e0!3m2!1sen!2sin!4v1638598890328!5m2!1sen!2sin" width="100%" height="610" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-box3">

                    <div class="item-heading">
                        <h2 class="item-title">We Love To Hear From You</h2>
                        <p>Please call or email contact form and we will be happy to assist you.</p>
                    </div>
                    <form class="message-box">
                        <div class="row gutters-10">
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control" name="fname" placeholder="First Name*" data-error="First Name is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control" name="lname" placeholder="Last Name*" data-error="Last Name is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email*" data-error="Email is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control" name="phone" placeholder="Phone*" data-error="Phone is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <input type="text" class="form-control" name="subject" placeholder="Subject*" data-error="Subject is required" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <textarea name="message" id="message" class="form-control" placeholder="Message" cols="30" rows="6" data-error="Message  is required" required=""></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <button type="submit" class="item-btn">Send message</button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>