@model ContactUs

<br />
<br />
<section class="contact-wrap1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-box1">
                    <h2 class="heading-title">Mail for information</h2>
                    <ul class="contact-list">
                        <li><a href="mailto:contact@finocred.com">contact@finocred.com</a></li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-envelope"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box1">
                    <h2 class="heading-title">Office Phone Number</h2>
                    <ul class="contact-list">
                        <li>Tel: <a href="tel:0755-4226677">0755-4226677</a></li>
                        <li>Mob: <a href="tel:+919399938906">+ (91) 93999-38906</a></li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-phone"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-box1 contact-box4">
                    <h2 class="heading-title">Office Address</h2>
                    <ul class="contact-list2">
                        <li>Sangam Tower, Zone-I</li>
                        <li>MP Nagar, Bhopal</li>
                        <li>Madhya Pradesh, India 462023</li>
                    </ul>
                    <div class="contact-icon">
                        <div class="item-icon"><i class="fas fa-map"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-wrap2">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-lg-6">
                <div class="contact-box2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.2106777778704!2d77.4337896142866!3d23.235419414171584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c43c29f5f4d95%3A0x3032cb20ce42b8b4!2sFinocred%20Finserv!5e0!3m2!1sen!2sin!4v1655547644664!5m2!1sen!2sin" width="100%" height="610" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-box3">

                    <div class="item-heading">
                        <h2 class="item-title">We happy to connect with you</h2>
                        <p>Our team will get back to you within 24 hrs.</p>
                    </div>
                    <form class="message-box" method="post">
                        <div class="row gutters-10">
                            <div class="col-lg-6 form-group">
                                <input asp-for="FirstName" class="form-control" placeholder="First Name*">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input asp-for="LastName" class="form-control" placeholder="Last Name*">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input asp-for="Email" class="form-control" placeholder="Email*">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone*">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <input asp-for="Subject" class="form-control" placeholder="Subject*">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <textarea asp-for="Message" class="form-control" placeholder="Message" cols="30" rows="6"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <button type="submit" class="item-btn">Send message</button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>