@{
    ViewData["Title"] = "Home Page";
}

<section class="call-back-wrap" style="background: #8300ff;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12">
                <div class="call-back-box1" style="background: none;">
                    <h1 class="section-title">Get Instant Personal Loan & Business Loan</h1>
                    <h4>Instant Loan Eligibility in 2 mins</h4>
                    <h4>Find Lowest rate and Best Deals!</h4>
                    <h4>Compare & Choose from Top Banks</h4>
                    <a asp-action="personal" asp-controller="loans" class="header-btn btn btn-light ">GET STARTED</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="call-back-box1" style="background: none;">
                    <h2 class="section-title">Apply now for instant approval</h2>
                    <form class="message-box" enctype="multipart/form-data" method="POST" action="javascript:void(0)" id="instantApprovalFormBefore" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-6">

                                <input type="text" class="form-control" name="first_name" placeholder="First Name*" required id="first_name" onkeyup="this.value=this.value.replace(/[^A-z]/g,'');">
                                <div class="invalid-feedback">Please Enter First Name.</div>
                            </div>
                            <div class="form-group col-lg-6">

                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name*" required onkeyup="this.value=this.value.replace(/[^A-z]/g,'');">
                                <div class="invalid-feedback">Please Enter Last Name.</div>
                            </div>
                            <div class="form-group col-lg-6">

                                <input type="text" minlength="10" maxlength="10" class="form-control" id="mobileNumber" name="mobile" placeholder="Mobile Number*" required="required">
                                <div class="invalid-feedback">Please Enter Mobile Number.</div>
                            </div>
                            <div class="form-group col-lg-6">

                                <input type="text" class="form-control" name="location" id="location" placeholder="Location*" required="required" onkeyup="this.value=this.value.replace(/[^A-z]/g,'');">
                                <div class="invalid-feedback">Please Enter Location.</div>
                            </div>
                            <div class="form-group col-lg-6">


                                <select class="form-control" id="loan_type" name="loan_type" required="required">
                                    <option value="">Please Select Loan*</option>
                                    <option selected="selected">Personal loan</option>
                                    <option>Business loan</option>
                                    <option>Home loan</option>
                                    <option>Credit card</option>
                                    <option>Loan against property</option>
                                </select>
                                <div class="invalid-feedback">Please Select Loan.</div>
                            </div>

                            <div class="form-group col-lg-6">

                                <input type="email" id="email" class="form-control" name="email" placeholder="Email*" required="required">
                                <div class="invalid-feedback">Please Enter Email ID.</div>
                            </div>

                            <div class="col-lg-12" id="divOTP" style="display: none;">

                                <input type="hidden" name="rand_otp" id="rand_otp" value="">

                                <div class="form-group">

                                    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" minlength="4" maxlength="4" required="required">
                                    <div class="invalid-feedback">Please Enter OTP.</div>
                                </div>

                                <div class="form-group">
                                    <button type="button" value="Submit" class="item-btn btn-block" onclick="submitForm();">SUBMIT</button>
                                </div>

                            </div>

                            <div class="form-group col-lg-12" id="sendOtpDiv">
                                <input type="submit" name="submit" value="Submit" class="item-btn btn-block" />
                            </div>

                            <div class="form-group form-alert col-lg-12" style="display: none;">
                                <div class="alert alert-success" align="center">Application Sent Successfully !!!</div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="consulting-service-wrap2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <div class="item-img">
                        <a href="#"><img src="~/assets/img/pro1.png" alt="figure" width="87" height="65"></a>
                    </div>
                    <h3 class="heading-title"><a href="personalloan.html">Personal Loan</a></h3>
                    <p>
                        Get Instant Loan | Choose Your Amount | Enjoy the Best Rate | Decide Your Tenure
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <div class="item-img">
                        <a href="#"><img src="~/assets/img/pro2.png" alt="figure" width="87" height="65"></a>
                    </div>
                    <h3 class="heading-title"><a href="business-loan.html">Business Loan</a></h3>
                    <p>
                        Quick approvals| Competitive interest rates| Extended loan Tenure| Hassle-Free
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <div class="item-img">
                        <a href="#"><img src="~/assets/img/pro3.png" alt="figure" width="87" height="65"></a>
                    </div>
                    <h3 class="heading-title"><a href="home-loan.html">Home Loan</a></h3>
                    <p>
                        Competitive Rates | Flexible Tenure | Doorstep Service | 100% Transparency
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <div class="item-img">
                        <a href="#"><img src="~/assets/img/pro4.png" alt="figure" width="87" height="65"></a>
                    </div>
                    <h3 class="heading-title"><a href="credit-card.html">Credit Card</a></h3>
                    <p>
                        Money! when you need it
                        ,We Help you to make Your Dream Home Comes True.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="contact-wrap1">
    <div class="container">
        <div class="section-heading" style="margin-bottom: 65px;">

            <h2 class="heading-title" style="color: #000;font-size: 26px;font-weight: 600;text-align: center;padding-bottom: 14px;margin-bottom: 30px;">
                SIMPLE LOAN PROCESS
            </h2>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="contact-box1">
                    <h2 class="heading-title">Choose Amount</h2>
                    <img src="~/assets/img/ch1.png" class="img-center" width="90" height="90">
                    <div class="contact-icon">
                        <div class="item-icon"> <img src="~/assets/img/one.png" width="70" height="70"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-box1">
                    <h2 class="heading-title">Provide Document</h2>
                    <img src="~/assets/img/ch2.png" class="img-center" width="90" height="90">
                    <div class="contact-icon">
                        <div class="item-icon"> <img src="~/assets/img/two.png" width="70" height="70"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-box1">
                    <h2 class="heading-title">Approved Loan</h2>
                    <img src="~/assets/img/ch3.png" class="img-center" width="90" height="90">
                    <div class="contact-icon">
                        <div class="item-icon"> <img src="~/assets/img/three.png" width="70" height="70"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-box1">
                    <h2 class="heading-title">Get your Money</h2>
                    <img src="~/assets/img/ch4.png" class="img-center" width="90" height="90">
                    <div class="contact-icon">
                        <div class="item-icon"> <img src="~/assets/img/four.png" width="70" height="70"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial-wrap2">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="testimonial-box2">
                    <div class="heading-area">
                        <!--<p class="item-subtitle">Our Trusted Clients</p>-->
                        <h2 class="heading-title text-center" style="color: #000;font-size: 26px;font-weight: 600;text-align: center;padding-bottom: 14px;margin-bottom: 30px;">
                            OUR CUSTOMERS TESTIMONIALS
                        </h2>
                    </div>
                    <div class="slick-carousel slick-slider" data-slick='{"arrows": true, "slidesToShow": 2, "autoplay": true, "autoplaySpeed": 2000}'>
                        <div class="slick-slide">
                            <div class="item-content">
                                <p>
                                    It was an amazing experience for me to avail a Personal loan from Finocred Finserv
                                    They has mature seasoned staff who understands the requirements of the customer
                                    well
                                </p>
                                <div class="media-sm">
                                    <div class="round-img">
                                        <img src="~/assets/img/user.png" alt="blog" width="55" height="55">
                                    </div>
                                    <div class="media-body-sm">
                                        <h3 class="item-title">Shekhar Chadokar</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="item-content">
                                <p>
                                    I would like to thank your team for their assistance in my loan application. I would
                                    definitely consider your team for assistance in all my future credit requirements.
                                </p>
                                <div class="media-sm">
                                    <div class="round-img">
                                        <img src="~/assets/img/users11.png" alt="blog" width="60" height="60">
                                    </div>
                                    <div class="media-body-sm">
                                        <h3 class="item-title">Sangeeta Prajapati</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="item-content">
                                <p>
                                    Finocred Finserv is a fabulous team for loan disbursement. They had approached me
                                    when I was in need of a personal loan. My loan was disbursed by Standard Chartered
                                    Bank with a rate of interest of 12.99
                                </p>
                                <div class="media-sm">
                                    <div class="round-img">
                                        <img src="~/assets/img/user.png" alt="blog" width="55" height="55">
                                    </div>
                                    <div class="media-body-sm">
                                        <h3 class="item-title">Aman Jain</h3>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-wrap3">
    <div class="container">
        <div class="section-heading">

            <h2 class="heading-title" style="color: #000;font-size: 26px;font-weight: 600;text-align: center;padding-bottom: 14px;margin-bottom: 30px;">
                OUR BANKING PARTNERS
            </h2>

        </div>
        <div class="testimonial-box3">
            <div class="slick-carousel slick-slider" data-slick='{"arrows": true, "slidesToShow": 6, "autoplay": true, "autoplaySpeed": 200}'>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c1.png" alt="about">
                        </div>
                    </div>
                </div>

                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c2.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c3.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c4.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c5.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c6.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c7.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c8.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c10.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c11.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c12.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c14.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c16.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c18.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/c20.png" alt="about">
                        </div>
                    </div>
                </div>

                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d1.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d2.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d3.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d4.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d5.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d6.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d7.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d8.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d9.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d10.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d11.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d12.png" alt="about">
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="testimonial-content">
                        <div class="item-img-round">
                            <img src="~/assets/img/partners/d13.png" alt="about">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-wrap2">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="100000" data-speed="4500"></h2>
                    <p class="count-text ">HAPPY CUSTOMERS</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="1000" data-speed="4500"></h2>
                    <p class="count-text ">HAPPY PARTNERS</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="counter">
                    <h2 class="timer count-title count-number" data-to="750000" data-speed="4500"></h2>
                    <p class="count-text ">PERSONAL LOANS DISBURSED</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-wrap2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget widget-tag-box">
                    <div class="widget-heading">
                        <h3 class="item-subtitle text-center" style="color: #000;font-size: 26px;font-weight: 600;">
                            POPULAR CITIES
                        </h3>
                    </div>
                    <div>
                        <p style="text-align: center;" class="citu">
                            <a href="javascript:;">Bhopal | </a>
                            <a href="javascript:;">Jabalpur |</a>
                            <a href="javascript:;">Indore | </a>
                            <a href="javascript:;">Gwalior | </a>
                            <a href="javascript:;">Ujjain | </a>
                            <a href="javascript:;">Dewas | </a>
                            <a href="javascript:;">Satna | </a>
                            <a href="javascript:;">Rewa | </a>
                            <a href="javascript:;">Chhindwara | </a>
                            <a href="javascript:;">Katni | </a>
                            <a href="javascript:;">Hoshangabad | </a>
                            <a href="javascript:;">Itarsi | </a>
                            <a href="javascript:;">Bangalore |</a>
                            <a href="javascript:;">Hyderabad |</a>
                            <a href="javascript:;">Ahmedabad | </a>
                            <a href="javascript:;">Pune |</a>
                            <a href="javascript:;">Mumbai |</a>
                            <a href="javascript:;">Delhi |</a>
                            <a href="javascript:;">Chennai |</a>
                            <a href="javascript:;">Kolkata |</a>
                            <a href="javascript:;">Noida |</a>
                            <a href="javascript:;">Vadodara |</a>
                            <a href="javascript:;">Coimbatore |</a>
                            <a href="javascript:;">Jaipur |</a>
                            <a href="javascript:;">Navi Mumbai |</a>
                            <a href="javascript:;">Lucknow |</a>
                            <a href="javascript:;">Bihar |</a>
                            <a href="javascript:;">Bhubaneswar |</a>
                            <a href="javascript:;">Nashik |</a>
                            <a href="javascript:;">Raipur |</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>