@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area slider-layout1">
    <div class="slider-bg-img1" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="300">
        <img src="/img/figure/figure96.png" alt="figure">
    </div>
    <div class="slider-bg-img2">
        <img src="/img/figure/figure97.png" alt="figure" data-sal="slide-up" data-sal-duration="1300" data-sal-delay="700">
    </div>
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider-1" class="slides">
            <img src="/img/slider/slider1.png" alt="slider" width="1920" height="720" title="#slider-direction-1" />
            <img src="/img/slider/slider2.png" alt="slider" width="1920" height="720" title="#slider-direction-2" />
            <img src="/img/slider/slider3.png" alt="slider" width="1920" height="720" title="#slider-direction-3" />
            <img src="/img/slider/slider4.png" alt="slider" width="1920" height="720" title="#slider-direction-4" />
            <img src="/img/slider/slider5.png" alt="slider" width="1920" height="720" title="#slider-direction-5" />
        </div>
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-1">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <p class="item-subtitle">finocred.com</p>
                        <h2 class="item-title">Home Loan Solutions For All Enterprises</h2>
                        <div class="item-paragraph">Fulfill your dream to live in your owned home affordably with our home loan and PMAY scheme.</div>
                        <ul class="item-btn">
                            <li><a href="/HomeLoan/Apply">Apply Now<i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-2">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <p class="item-subtitle">finocred.com</p>
                        <h2 class="item-title">Business Loan Solutions For All Enterprises</h2>
                        <div class="item-paragraph">Avail working capital with our unsecured loan offering and give your business the growth it deserves.</div>
                        <ul class="item-btn">
                            <li><a href="/BusinessLoan/Apply">Apply Now<i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-3" class="t-cn slider-direction" style="display:none">
            <div class="slider-content s-tb slide-3">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <p class="item-subtitle">finocred.com</p>
                        <h2 class="item-title">Personal Loan Solutions For All Enterprises</h2>
                        <div class="item-paragraph">Get quick and easy finances with our customised personal loan and fulfil your every financial need with ease.</div>
                        <ul class="item-btn">
                            <li><a href="/PersonalLoan/Apply">Apply Now<i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-4" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-4">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <p class="item-subtitle">finocred.com</p>
                        <h2 class="item-title">Credit Card Solutions For All Enterprises</h2>
                        <div class="item-paragraph">A load of smiles on your fingertips!</div>
                        <ul class="item-btn">
                            <li><a href="/CreditCard/Apply">Apply Now<i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-5" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-5">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <p class="item-subtitle">finocred.com</p>
                        <h2 class="item-title">Car Loan Solutions For All Enterprises</h2>
                        <div class="item-paragraph">Don't let your dream ride be just a dream. We help you realise it</div>
                        <ul class="item-btn">
                            <li><a href="/CarLoan/Apply">Apply Now<i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="team-wrap-layout2">
    <div class="container">
        <div class="section-content">
            <p class="section-subtitle">What We Do</p>
            <h2 class="section-title">Our Product and Services</h2>
            <p>We will match you with a loan program that meet your financial need. In short term liquidity, by striving to make funds available to them within 24 hours of application.</p>
        </div>
        <div class="rc-carousel dot-control-layout1" data-loop="true" data-items="10"
             data-margin="30" data-autoplay="false" data-autoplay-timeout="3000"
             data-smart-speed="1000" data-dots="true" data-nav="false" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="false" data-r-x-small-dots="true"
             data-r-x-medium="1" data-r-x-medium-nav="false" data-r-x-medium-dots="true"
             data-r-small="1" data-r-small-nav="false" data-r-small-dots="true" data-r-medium="2"
             data-r-medium-nav="false" data-r-medium-dots="true" data-r-large="2" data-r-large-nav="false" data-r-large-dots="true" data-r-extra-large="2" data-r-extra-large-nav="false"
             data-r-extra-large-dots="true">
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef1.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Personal Loan</h3>
                        <p>Get quick and easy finances with our customised personal loan and fulfil your every financial need with ease.</p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef2.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Business Loan</h3>
                        <p>Avail working capital with our unsecured loan offering and give your business the growth it deserves.</p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef3.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Home Loan</h3>
                        <p>Fulfil your dream to live in your owned home affordably with our home loan and PMAY scheme.</p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef4.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Credit Card</h3>
                        <p>As of today, credit cards are critical tools that empower a person to acquire goods, and avail of services with the comfort of making payments for those purchases on another date.</p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef5.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Car Loan</h3>
                        <p>Enjoy up to 100% finance on a wide range of cars and start to experience a safe and easy commute in your own car.</p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-box2">
                <div class="media">
                    <div class="team-img">
                        <img src="/img/ef6.png" alt="team" width="261" height="292">
                    </div>
                    <div class="media-body">
                        <h3 class="heading-title">Insurance</h3>
                        <p>Multiple insurance schemes for you to choose from. From your car to your family's safety, we cover risks of any & every kind and serve you a 100% assured financial future. </p>
                        <div class="item-button">
                            <a href="" class="item-btn">+ <span>Apply Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="consulting-service-wrap2">
    <div class="container">
        <div class="background-image1">
            <img src="/img/figure/figure57.png" alt="png" width="164" height="461">
        </div>
        <div class="background-image2">
            <img src="/img/figure/figure58.png" alt="png" width="257" height="752">
        </div>
        <div class="row gutters-50">
            <div class="col-lg-5">
                <div class="consulting-top1">
                    <h2 class="section-title">Fast & Easy Application Process.</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="consulting-top2">
                    <p>We will match you with a loan program that meet your financial need. In short term liquidity, by striving to make funds available to them within 24 hours of application.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <h3 class="heading-title">Choose Loan Amount</h3>
                    <div class="item-img">
                        <img src="/img/figure/figure59.png" alt="figure" width="87" height="65">
                    </div>
                    <p>Choose the loan amount according to your need.</p>
                    <div class="consulting-button">
                        <a href="service2.html" class="consulting-btn"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <h3 class="heading-title">Approved Your Loan</h3>
                    <div class="item-img">
                        <img src="/img/figure/figure60.png" alt="figure" width="49" height="63">
                    </div>
                    <p>We approve your loan upfront and provide it soon.</p>
                    <div class="consulting-button">
                        <a href="service2.html" class="consulting-btn"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <h3 class="heading-title">Get Your Cash</h3>
                    <div class="item-img">
                        <img src="/img/figure/figure61.png" alt="figure" width="45" height="64">
                    </div>
                    <p>
                        We provide your loan as soon as possible.
                        We meet you with our specialist dedicated team who can explain to you in full.
                    </p>
                    <div class="consulting-button">
                        <a href="service2.html" class="consulting-btn"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consulting-service4">
                    <h3 class="heading-title">No front Appraisal Fees!</h3>
                    <div class="item-img">
                        <img src="/img/figure/figure62.png" alt="figure" width="42" height="64">
                    </div>
                    <p>
                        We do not take any appraisal fees from our client, we don't take the hidden charge of any method.

                    </p>
                    <div class="consulting-button">
                        <a href="service2.html" class="consulting-btn"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose-us-wrap1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose-us-box1">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>
                        Connect with us to help you take your financial decisions right and smart.

                    </p>
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="heading-title" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true">
                                    Compare Lenders
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        You can compare and choose your lender from an exhaustive list of 100+ partnered Banks & NBFCs.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="heading-title collapsed" data-toggle="collapse" data-target="#headingtwo"
                                    aria-expanded="true">
                                    Fastest Process
                                </h4>
                            </div>
                            <div id="headingtwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Our easy application process provides quick and seamless disbursals to our clients.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="heading-title collapsed" data-toggle="collapse" data-target="#headingthree"
                                    aria-expanded="true">
                                    Expert Guidance
                                </h4>
                            </div>
                            <div id="headingthree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Our financial experts with astronomical experience assist you in borrowing right.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="heading-title collapsed" data-toggle="collapse" data-target="#headingfour"
                                    aria-expanded="true">
                                    Nationwide Presence
                                </h4>
                            </div>
                            <div id="headingfour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        With a PAN India presence, we are able to cater to the financial needs of individuals in every corner.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="consulation-box1">
                    <h2 class="section-title">Free Consultation</h2>
                    <p>
                        Need Any Financial Help!
                        , Request a Call Back
                    </p>
                    <form class="message-box">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control">
                                <label>Name</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control">
                                <label>Email</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="text" class="form-control">
                                <label>Subject</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <textarea name="comment" id="message" class="form-control" cols="30" rows="4"></textarea>
                                <label>Message</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <a href="#" class="item-btn">Submit Now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="progress-bar-wrap1">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12">
                <div class="progress-bar-box1 progress-bar-box3">
                    <h2 class="section-title">Our Expertise & Skills to All Business</h2>
                    <p> Towards Building Communities</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="progress-box">
                                <div class="circle-progress" data-value="2">
                                    <span></span>
                                    <label>Partner Banks</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="progress-box">
                                <div class="circle-progress" data-value="100">
                                    <span></span>
                                    <label>Customers </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="progress-bar-box2 progress-bar-box3">
                    <div class="background-image5">
                        <img src="/img/figure/figure38.png" alt="figure" width="475" height="553">
                    </div>
                    <div class="item-img">
                        <img src="/img/service/service2.jpg" alt="service" width="960" height="55">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="case-wrap-layout1">
    <div class="background-image">
        <img src="/img/figure/figure55.png" alt="figure" width="362" height="347">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box1">
                    <!--<p class="section-subtitle">Case Studies</p>-->
                    <h2 class="section-title">Life Stage Solution</h2>
                    <p>Loan Solutions for Different Needs</p>
                    <p>
                        Easy Application with
                        Minimum Documentation
                    </p>
                    <p>
                        Quick Approvals with
                        No Hidden Charges
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box2">
                    <div class="case-img">
                        <a href="#"><img src="/img/p1.png" alt="service" width="530" height="370"></a>
                        <div class="item-content">
                            <p class="case-subtitle">Starting Career</p>
                            <!--<h3 class="case-title">Investment Planning</h3>-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box2">
                    <div class="case-img">
                        <a href="#"><img src="/img/p2.png" alt="service" width="530" height="370"></a>
                        <div class="item-content">
                            <p class="case-subtitle">Working Professional</p>
                            <!--<h3 class="case-title">Investment Planning</h3>-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box2">
                    <div class="case-img">
                        <a href="#"><img src="/img/p3.png" alt="service" width="530" height="370"></a>
                        <div class="item-content">
                            <p class="case-subtitle">Family Person</p>
                            <!--<h3 class="case-title">Investment Planning</h3>-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box2">
                    <div class="case-img">
                        <a href="#"><img src="/img/p4.png" alt="service" width="530" height="370"></a>
                        <div class="item-content">
                            <p class="case-subtitle">Pre Retirement</p>
                            <!--<h3 class="case-title">Investment Planning</h3>-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="case-box2">
                    <div class="case-img">
                        <a href="#"><img src="/img/p5.png" alt="service" width="530" height="370"></a>
                        <div class="item-content">
                            <p class="case-subtitle">Senior Citizen</p>
                            <!--<h3 class="case-title">Investment Planning</h3>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="location-wrap-layout1">
    <div class="container">
        <div class="item-heading">
            <p class="item-subtitle">Our Trusted Clients</p>
            <h2 class="section-heading">Our Customers' Reviews </h2>
        </div>

    </div>
</section>
<section class="testimonial-wrap1">
    <div class="container">
        <div class="testimonial-box1">
            <div class="slick-carousel slick-slider" data-slick='{"arrows": true, "slidesToShow": 1, "autoplay": false, "vertical": true}'>
                <div class="slick-slide">
                    <div class="media">
                        <div class="item-img">
                            <img src="/img/blog/blog3.jpg" alt="blog" width="285" height="276">
                            <div class="shape-box">Robert Smith CEO</div>
                        </div>
                        <div class="media-body">
                            <blockquote class="item-quotation">
                                Not only was the loan application journey smooth, but today after 1 year of my loan tenure I get proper
                                updates and support in resolving my queries and top-up requirements from the institution.
                            </blockquote>
                            <div class="quotation-marks"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="media">
                        <div class="item-img">
                            <img src="/img/blog/blog37.jpg" alt="blog" width="285" height="276">
                            <div class="shape-box">Robert Smith CEO</div>
                        </div>
                        <div class="media-body">
                            <blockquote class="item-quotation">
                                To achieve my business plans, Poonawalla Fincorp’s business loan assured me quick finances and the
                                process was completely transparent. No hidden loan charges helped me plan my working capital and run my
                                business efficiently.
                            </blockquote>
                            <div class="quotation-marks"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide">
                    <div class="media">
                        <div class="item-img">
                            <img src="/img/blog/blog38.jpg" alt="blog" width="285" height="276">
                            <div class="shape-box">Robert Smith CEO</div>
                        </div>
                        <div class="media-body">
                            <blockquote class="item-quotation">
                                I wanted to give my sister her dream wedding, but I was worried about the higher rates and hidden
                                charges. With Poonawalla Fincorp, I got an affordable Personal Loan with lowest interest rate. Moreover,
                                the benefits that I availed further added on to the great experience in availing the Personal Loan.
                            </blockquote>
                            <div class="quotation-marks"><i class="fas fa-quote-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="brand-wrap-layout1 brand-wrap-layout2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c1.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c2.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c3.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c4.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c6.png" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c11.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c10.png" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c14.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c21.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c23.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c24.png" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c27.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c30.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c31.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c38.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c39.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c44.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c46.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c47.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c48.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c49.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c53.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c54.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c55.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c56.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c57.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="brand-box1">
                    <div class="brand-img">
                        <a href="#"><img src="/img/partners/c58.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="personal-info-wrap1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-8">
                <div class="personal-details">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="personal-info-box">
                                <h2 class="section-title">Bhopal City</h2>
                                <ul class="information-list">
                                    <li>Sangam Tower, Zone-I, M.P. Nagar, Bhopal, Madhya Pradesh 462011</li>
                                    <li>0755-4226677</li>
                                    <li>contact@finocred.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6">
                            <div class="personal-info-box">
                                <h2 class="section-title">Indore City</h2>
                                <ul class="information-list">
                                    <li>C/O Minakshi Associates, 9, old palasia guiter square, AB Rd, above khanna opticals, Indore, Madhya Pradesh 452001</li>
                                    <li>+91 (939) 993-8906</li>
                                    <li>contact@finocred.com</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-4 d-xl-block d-none">
                <div class="location-img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.2106777778704!2d77.4337896142866!3d23.235419414171584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c43c29f5f4d95%3A0x3032cb20ce42b8b4!2sFinocred%20Finserv!5e0!3m2!1sen!2sin!4v1655547644664!5m2!1sen!2sin" width="100%" height="470" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="figure-img1">
        <img src="/img/figure/figure5.png" alt="figure" width="872" height="724">
    </div>
    <div class="figure-img2">
        <img src="/img/figure/figure6.png" alt="figure" width="487" height="269">
    </div>
</section>