@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="team-about-wrap">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-about-box">
                    <div class="row gutters-50">
                        <h3>Privacy Policy</h3>
                        <div class="terms-inner">
                            <div class="terms-content">
                                <h3 class="term-title">Introduce</h3>
                                <p>By registering yourself at <a href="http://www.finocred.com/" target="_blank" style="color:#ec0c16">www.finocred.com</a> you are authorizing us &amp; our partnering Banks/NBFCs and Advertisers to give you a call/sms/e-mail / Whatsapp to offer you their services for the product you have opted for, imparting product knowledge, offering promotional offers running on website &amp; offers offered by the associated third parties. And Irrespective of the fact if also you have registered yourself under DND or DNC service still you authorize us to give you a Call/SMS/e-mail from finocred.com &amp; partnering Banks/NBFCs and Advertisers for the above mentioned purposes.</p>
                                <p>Client agrees to expressly authorize finocred finserv to send service related transactional text messages, whatsapp messages and make calls even if client's contact number is listed as DND with the concerned telecom regulatory authority.</p>
                                <p>By accepting our "Terms and Conditions" you authorize our partners to run a CIBIL check for your profile</p>
                                <p>We do not investigate, represent or endorse the accuracy, legality, legitimacy of the service providers who advertise with us References that we make to any names, marks, products or services of third parties or hypertext links to third party sites or information do not constitute or imply our endorsement, sponsorship or recommendation of the third party, of the quality of any product or service, advice, information or other materials displayed, purchased, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Media.</p>
                                <p>finocred.com will not sell or rent your personally identifiable information to anyone other than as specifically noted herein. Notwithstanding the foregoing, finocred.com may sell and/or transfer your personally identifiable information to an affiliate and to any successor-in-interest as a result of a sale of any part of finocred.com's business or upon the merger, reorganization or consolidation of <a href="http://www.finocred.com/" target="_blank" style="color:#ec0c16">www.finocred.com</a> with another entity on a basis that finocred.com is not the surviving entity. For the purposes of this paragraph, "affiliate" means any person directly, or indirectly through one or more intermediaries, that controls, is controlled by or is under common control with finocred.com. The term "control," as used in the immediately preceding sentence, shall mean with respect to any person, the possession, directly or indirectly, of the power, through the exercise of voting rights, contractual rights or otherwise, to direct or cause the direction of the management or policies of the controlled person. As used in this Privacy Policy, the term "person" includes any natural person, corporation, partnership, limited liability company, trust, unincorporated association or any other entity.</p>
                                <p>If you are no longer interested in receiving e-mail announcements and other marketing information from us, or you want us to remove any personal Information that we have collected about you, please e-mail your request to <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a></p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Privacy and Security Policy</h3>
                                <p>ficnored finserv Distribution Services (hereinafter referred to as “finocred finserv/finocred.com/ we/ our”) acknowledges the expectations of its customers (hereinafter referred to as “customer/ you/ your”) with regard to privacy, confidentiality and security of their Personal Information that resides with the finocred. Keeping Personal Information of customers secure and preventing any misuse thereof is a top priority of finocred finserv.</p>
                                <p>finocred finserv is strongly committed to protect the privacy of its customers and has taken all necessary and reasonable measures in line with the best industry practice to protect the confidentiality of the customer information and its transmission through website and it shall not be held liable for disclosure of the confidential information when in accordance with this privacy Commitment or in terms of the ‘Terms of Use’ of Website or agreement, if any, with the customers.</p>
                                <p>This Privacy &amp; Security Policy (hereinafter referred to as “Policy”) explains how we protect Personal Information provided to our websites such as www.finocred.com (hereinafter referred to as “Website”) and how we use that information in connection with our service offered through the Website (hereinafter called as "Service").</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Third Party Advertising</h3>
                                <p>We may use third-party advertising companies and/or ad agencies to serve ads when you visit our Website. These companies may use information (excluding your name, address, email address, or telephone number) about your visits to this and other <a href="http://www.finocred.com/" target="_blank" style="color:#ec0c16">www.finocred.com</a> in order to provide advertisements on this site and other sites about goods and services that may be of interest to you.</p>
                                <p>We may use third-party service providers to serve ads on our behalf across the Internet and sometimes on this site. They may collect anonymous information about your visits to Website, and your interaction with our products and services. They may also use information about your visits to this and other Websites for targeted advertisements for goods and services. This anonymous information is collected through the use of a pixel tag, which is industry standard technology used by most major Websites. No personally identifiable information is collected or used in this process. Your name, phone number, address, email address, or any personally identifying information about the user.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Personal Information</h3>
                                <p>Personal Information means any information that relates to a natural person, which either directly or indirectly, in combination with other information available or likely to be available with the finocred finserv, is capable of identifying such person.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Express Consent</h3>
                                <p>You while providing the details over the Website, including but not limited to Personal Information as mentioned hereinabove, expressly consent to finocred finserv (its affiliates and business partners) to contact you, to make follow up calls in relation to the services provided through the Website, for imparting product knowledge, offering promotional offers running on Website &amp; various other offers offered by its partners on the Sites.</p>
                                <p>The usage of the Website may also require you to provide consent for keying in your Sensitive Information (including but not limited to user ids and passwords), as may be necessary to process your application through the Website. Sensitive information keyed in shall be required for enabling hassle free, faster and paperless (to the extent possible) processing of applications for financial products so opted / availed by you.</p>
                                <p>In furtherance to your usage of the Website, you expressly waive the Do Not Call (DNC) / Do Not Disturb (DND) registrations on your phone/mobile numbers for contacting you for this purpose. Hence, there is no DNC / DND check required for the number you have left on our Website. Such modes of contacting you may include sending SMSs, email alerts and / or telephonic calls.</p>
                                <p>finocred finserv reserves the right (and you expressly authorize finocred finserv) to share or disclose your Personal Information when finocred finserv determines, in its sole discretion, that the disclosure of such information is necessary or appropriate under the law for the time being in force.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Purpose and Usage</h3>
                                <p>finocred finserv will not sell or rent your Personal Information to anyone, for any reason, at any time. finocred finserv uses the information collected and appropriately notifies you to manage its business and offer an enhanced, personalized online experience to you on its Website. Further, it enables the finocred finserv to:</p>
                                <p>
                                </p><ul>
                                    <li style="list-style:disc; margin-left:25px">Analyse usage of the Website and to improve the Service</li>
                                    <li style="list-style:disc; margin-left:25px">Send you any administrative notices, offer alerts and communications relevant to your use of the Service</li>
                                    <li style="list-style:disc; margin-left:25px">Enable you to apply for certain products and services for which you have chosen to apply</li>
                                    <li style="list-style:disc; margin-left:25px">Carry market research, project planning, troubleshooting issues, detecting and protecting against error, fraud or other criminal activity</li>
                                    <li style="list-style:disc; margin-left:25px">Bind third-party contractors that provide services to finocred finserv and are bound by these same privacy restrictions</li>
                                    <li style="list-style:disc; margin-left:25px">Comply with all applicable laws and regulations</li>
                                    <li style="list-style:disc; margin-left:25px">Enforce finocred finserv Terms of Use</li>
                                </ul>
                                <p></p>

                                <p>In the event that you access the Service as brought to you by one of our co-brand partners, through a co-branded URL, your name, e-mail address, mobile number, date of birth, employment type, residency status, details of loan applied for and loan status may be provided to that co-brand partner when your application is submitted and whenever the status of application is updated. finocred finserv has a business relationship with these co-brand partners and you may not opt-out of sharing your information with these co-brand partners if you have applied via a co-branded URL.</p>

                                <p>For availing the Service such as applying for a loan will require you to provide finocred finserv with details such as a your name, email address, residential address, mobile number, PAN number, employment &amp; income details/proofs, personally identifying information about a potential co-loan applicant (should you select this option), password and to participate on our forum boards, a username (collectively the "Registration Information").</p>

                                <p>In order to provide your bank statement or payslip electronically along with your loan application, you also must provide your third-party account credentials ("Account Credentials") to allow finocred finserv to retrieve your account data at those other financial institutions ("Account Information") for your use. Your Account Credentials are only used once to retrieve your bank statements/payslips and are not stored in our system. However, finocred finserv shall not be liable to you against any liability or claims which may arise out of such transactions being carried on your own accord.</p>

                                <p>We may also use third party service providers to provide the Service to you, such as sending e-mail messages on our behalf or hosting and operating a particular feature or functionality of the Service. Our contracts with these third parties outline the appropriate use and handling of your information and prohibit them from using any of your Personal Information for purposes unrelated to the product or service they're providing. We require such third parties to maintain the confidentiality of the information provide to them.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Disclosure / Sharing</h3>
                                <p>finocred finserv does not disclose sensitive personal data or information of a customer except as directed by law or as per mandate received from the customer / applicant. No specific information about customer accounts or other personally identifiable data is shared with non-affiliated third parties unless any of the following conditions is met:</p>

                                <p>
                                </p><ul>
                                    <li style="list-style:disc; margin-left:25px">To help complete a transaction initiated by you</li>
                                    <li style="list-style:disc; margin-left:25px">To perform support services through a third party service provider, provided it conforms to the Privacy Policy of the finocred finserv and your prior consent to do so is obtained</li>
                                    <li style="list-style:disc; margin-left:25px">You have specifically authorized it</li>
                                    <li style="list-style:disc; margin-left:25px">The disclosure is necessary for compliance of a legal obligation or as required by law, such as to comply with a subpoena, or similar legal process</li>
                                    <li style="list-style:disc; margin-left:25px">The information is shared with Government agencies mandated under law</li>
                                    <li style="list-style:disc; margin-left:25px">The information is shared with any third party by an order under the law</li>
                                    <li style="list-style:disc; margin-left:25px">When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request</li>
                                </ul>
                                <p></p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Intimation by customers regarding change in registration information</h3>
                                <p>If your Registration Information provided to us when you had applied for a product on our Website or Sites changes, you may update it whenever you apply for a new product via our Website or Sites. To review and update your Personal Information and to ensure that the same is accurate while your application is in process, you may contact us at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>. You will not be able to update the information you have provided in an application after a decision has already been made on it; however you may create and submit a new application with your updated information.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Note</h3>
                                <p>We will retain your information for as long as your account is active or as needed to provide you services. If you wish to cancel your account or request that we no longer use your information to provide you services contact us at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>. We will respond to your request within a reasonable timeframe. However, we will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and to enforce our agreements</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Email &amp; SMS communications from us and our partners</h3>
                                <p>We provide our registered customers with periodic emailers and email/SMS alerts. We also allow users to subscribe to email newsletters and from time to time may transmit emails promoting finocred finserv or third-party products. finocred finserv’s Website subscribers may opt-out of receiving our promotional emails and terminate their newsletter subscriptions by following the instructions in the emails. Opting out in this manner will not end transmission of service-related emails/SMS, such as email/SMS alerts. The above services are also provided by our partners.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Log Files</h3>
                                <p>This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. We may use the collected log information about you to improve services offered to you, to improve marketing, analytics, or Website functionality.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Cookie Policy</h3>
                                <p>If enabled, we may place cookies on your machine that store small amounts of data on your computer about your visit to any of the pages of our Website. Cookies are small electronic files that collect information when someone visits a website. They can identify the pages that are being viewed and this can assist us in tracking which of our features appeal the most to you and what content you may have viewed on past visits. Some cookies only exist whilst viewers are online, but 'persistent' cookies are not session-based and remain on the viewer's computer. When you visit this Website again, 'persistent' cookies can enable us to customize our content according to your preferences.</p>
                                <p>Technologies such as: cookies, beacons, tags and scripts are used by us and our partners like banking and financial entities, affiliates, or analytics or service providers use technologies such as google Ad sense, google analytics etc. These technologies are used in analysing trends, administering the Website, tracking user’s movements around the Website and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.</p>
                                <p>Cookies used by finocred finserv are Sessionid, TRCKR, UBID etc.</p>
                                <p>We use cookies for on our Website in order to personalize our service to you. By using our Website user/s agree that these types of cookies can be placed on his/her device. User/s is free to disable/delete these cookies by changing his/her web browser settings. User/s can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our Website may be limited. You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. To find out more about accepting or refusing cookies from www.allaboutcookies.org. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to the Website.</p>
                                <p>finocred finserv is not responsible for cookies placed in the device of user/s by any other website and information collected thereto.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Behavioural Targeting / Re-Targeting</h3>
                                <p>We partner with a third party service provider to either display advertising on our Website or to manage our advertising on other sites. Our third party partner may use technologies such as cookies to gather information about your activities on this Website and other Sites in order to provide you advertising based upon your browsing activities and interests. If you wish to not have this information used for the purpose of serving you interest-based ads, you may opt-out by clicking here. Please note this does not opt you out of being served ads. You will continue to receive generic ads.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Third parties will not be given your Personal Information unless you direct finocred finserv to do so</h3>
                                <p>There are a number of products and services, such as loans, credit cards being offered by third parties on our Website, such as lenders, banks, credit card issuers and mutual funds (collectively "Offers"). If you choose to apply for these separate products or services, disclose information to the providers, or grant them permission to collect information about you, then their use of your information is governed by their privacy policies. You should evaluate the practices of these external services providers before deciding to use their services. finocred finserv is not responsible for their privacy practices.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Testimonials, Blogs and other forums on finocred finserv Website</h3>
                                <p>With your consent finocred finserv may post your testimonial along with your name. If you want your testimonial removed please contact finocred finserv at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>.</p>
                                <p>If you use a blog or other public forum on Website, any information you submit there can be read, collected or used by other users and could be used to send you unsolicited messages. finocred finserv is not responsible for the Personal Information you choose to submit in these forums.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Additional Policy Information</h3>
                                <p> <b>Widgets:</b> Our website includes Widgets, which are interactive mini-programs that run on our Website to provide specific services from another company (e.g. displaying the news, opinions, music, etc). Personal Information, such as your email address, may be collected through the Widget. Cookies may also be set by the Widget to enable it to function properly. Information collected by this Widget is governed by the privacy policy of the company that created it and not by the finocred finserv.</p>
                                <p> <b>Single Sign-On:</b> You can log in to our Website using sign-in services such as Facebook Connect or an Open ID provider. These services will authenticate your identity and provide you the option to share certain Personal Information with us such as your sign-in information, name and email address to link between the sites. Social networking media services like Facebook &amp; Twitter give you the option to post information about your activities on this Website to your profile page to share with others within your network.</p>
                                <p> <b>Like Button:</b> If you use the "Like" button to share something that item will appear on your Facebook profile page and also on your friends’ newsfeed depending on your Facebook privacy settings. You may also receive updates in your Facebook newsfeed from this Website or item in the future. Facebook also collects information such as which pages you have visited on this and other sites that have implemented the "Like" button.</p>
                                <p> <b>Links to 3rd Party Sites:</b> Our Website includes links to other websites whose privacy practices may differ from those of finocred finserv. If you submit your Personal Information to any of those sites, your information is governed by their privacy policies. We encourage you to carefully read the privacy policy of any website you visit.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">We keep your data secure</h3>
                                <p>We follow generally accepted standards to protect the Personal Information submitted to us, both during transmission and once we receive it. Since no method of transmission over the Internet, or method of electronic storage, is 100% secure, therefore, we cannot guarantee its absolute security. If you have any questions about security on our Website, you can contact us at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>.</p>

                                <p>We use a combination of firewalls, encryption techniques and authentication procedures, among others, to maintain the security of your online session and to protect finocred finserv online accounts and systems from unauthorized access.</p>

                                <p>When you register for the Service, finocred finserv requires a password from you for your privacy and security. finocred finserv transmits information such as your Registration Information for Website or Account Credentials securely.</p>

                                <p>Our servers are in secure facilities where access requires multiple levels of authentication, including an identity card and biometrics recognition procedures. Security personnel monitor the facilities 7 days a week, 24 hours a day.</p>

                                <p>Our databases are protected from general employee access both physically and logically. We encrypt your Service password so that your password cannot be recovered, even by us. All backup drives and tapes also are encrypted.</p>

                                <p>We enforce physical access controls to our buildings.</p>

                                <p>No employee may put any sensitive content on any insecure machine (i.e., nothing can be taken from the database and put on an insecure laptop).</p>

                                <p>finocred finserv has been verified for its use of SSL encryption technologies and audited by TRUSTe for its privacy practices. In addition, finocred finserv tests the Website using Acunetix scan for any failure points that would allow hacking.</p>

                                <p>However, it is important to understand that these precautions apply only to our Website and systems.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">All Private Information is encrypted and communicated securely</h3>
                                <p>All communications between your computer and our Website that contain any Personal Information are encrypted. This enables client and server applications to communicate in a way that is designed to prevent eavesdropping, tampering and message forgery.</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">You are responsible for maintaining the confidentiality of your login id and password</h3>
                                <p>You are responsible for maintaining the security of your Login ID and Password, and may not provide these credentials to any third party. If you believe that they have been stolen or been made known to others, you must contact us immediately at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>. We are not responsible if someone else accesses your account through Registration Information they have obtained from you or through a violation by you of this Privacy and Security Policy or the finocred finserv Terms of Use.</p>
                                <p>If you have any security related concern, please contact us at <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>. We will work closely with you to ensure a rapid and personal response to your concerns</p>
                            </div>
                            <div class="terms-content">
                                <h3 class="term-title">Contact us with any questions or concerns</h3>
                                <p>If you have questions, comments, concerns or feedback regarding this Privacy and Security Policy or any other privacy or security concern, send an e-mail to <a href="mailto:contact@finocred.com" style="color:#ec0c16">contact@finocred.com</a>.</p>

                                <p>
                                    finocred.com - Sangam Tower, Zone-I, MP Nagar, Bhopal, Madhya Pradesh, India 462023
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
