<div class="widget widget-financial-service">
    <div class="financial-list">
        <ul>
            <li><a asp-action="Index">Car Loan Overview</a></li>
            <li><a asp-action="Eligibility">Car Loan Eligibility Criteria</a></li>
            <li><a asp-action="EmiCalculator">Car Loan EMI Calculator</a></li>
            <li><a asp-action="Documents">Car Loan Documents</a></li>
            <li><a asp-action="Apply">Car Apply Now</a></li>            
        </ul>
    </div>
</div>

<div class="widget widget-categoery-box">
    <div class="widget-heading">
        <h3 class="item-subtitle widget-subtitle">BANK LISTS</h3>
    </div>
    <ul class="item-categoery">
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Axis Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Kotak Mahindra Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">ICICI Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Bajaj Finserv LTD</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">HDFC Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">IndusInd Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">HBD Financial Services</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">IDFC First Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">TATA Capital Finance</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Aditya Birla Finance LTD</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Yes Bank</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Loan Tap</a>
        </li>
    </ul>

</div>
<div class="widget widget-categoery-box">
    <div class="widget-heading">
        <h3 class="item-subtitle widget-subtitle">LOCATION LISTS</h3>
    </div>
    <ul class="item-categoery">
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Ahmedabad</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Gujarat</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Jodhpur</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Nagpur</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Surat</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Bangalore</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Hyderabad</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Kolkatta</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Nashik</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Varanasi</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Bhopal</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Indore</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Lucknow</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Pune</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Delhi</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Jaipur</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Mangalore</a>
        </li>
        <li>
            <i class="fas fa-angle-right"></i>
            <a href="javascript:void(0)">Raipur</a>
        </li>
    </ul>

</div>