<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <title> Finocred Finserv | Apply for credit cards, personal loans, home loans, car loans, business loans, loan against property</title>
    <meta name="keywords" content="Instant personal loan| apply for personal loan| personal loan online|DSA Channel Partner|Apply for PL||Apply for HL">
    <meta name="description" content="Apply for an instant personal loan online with attractive interest rates at Finocred Finserv. Get hassle-free loan approval, minimum documentation. Apply Now">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/vendor/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/vendor/nivo-slider/nivo-slider.css">
    <link rel="stylesheet" href="~/assets/css/sal.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="canonical" href="/home">
    <style>
        body {
            font-family: 'Roboto';
        }

        .counter {
            background-color: #8300ff;
            padding: 20px 0;
            border-radius: 5px;
            margin-bottom: 1px;
        }

        .count-title {
            font-size: 40px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
            color: white;
        }

        .count-text {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body class="sticky-header">
    <div class="wrapper" id="wrapper">
        <div style="height:0px">
            <img src="https://app.finocred.com/images/icon.jpg" height="1" width="1" />
        </div>
        <header class="header">
            <div id="header-topbar" class="header-topbar-layout1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4 ">
                            <div class="topbar-left">
                                <div class="header-button">
                                    <a href="mailto:contact@finocred.com">
                                        <img src="/assets/img/email.png" class="img">
                                        <span style="margin-left: 3px;">contact@finocred.com</span>
                                    </a>
                                </div>
                                <div class="header-button">
                                    <a href="tel:+919399938906"><img src="/assets/img/call%20us.png" class="img"> +91 93999 38906</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 d-flex ">
                            <div class="topbar-right">

                                <div class="header-right-button">
                                    <a href="https://webmail.finocred.com" target="_blank" class="header-btn">Webmail Login</a>
                                </div>
                                <div class="header-right-button">
                                    <a href="/home/partner" target="_blank" class="header-btn">Partner With Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-area">
                                <a asp-action="index" asp-controller="home" class="temp-logo">
                                    <img src="/assets/img/logo/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 d-flex justify-content-end position-static">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                    <li>
                                        <a asp-action="index" asp-controller="home">Home</a>
                                    </li>
                                    <li>
                                        <a asp-action="aboutus" asp-controller="home">About Us</a>
                                    </li>
                                    <li>
                                        <a asp-action="personal" asp-controller="loans">Personal Loan</a>
                                    </li>
                                    <li>
                                        <a asp-action="business" asp-controller="loans">Business Loan</a>
                                    </li>
                                    <li>
                                        <a asp-action="home" asp-controller="loans">Home Loan</a>
                                    </li>
                                    <li>
                                        <a asp-action="index" asp-controller="creditcard">Credit Card</a>
                                    </li>
                                    <li>
                                        <a asp-action="contactus" asp-controller="home">Contact Us</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/61f8dc36b9e4e21181bcde74/1fqq1odna';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->

        <div style="position: fixed; bottom: 80px; z-index: 999999;">
            <a href="/home/emicalculator"><img src="/assets/img/emi.png"></a>
        </div>
        <div style="position: fixed; bottom: 200px; right:2px; z-index: 999999;">
            <a href="tel:+919399938906"><img src="/assets/img/callus.png"></a>
        </div>
        <div style="position: fixed; bottom: 80px;right:2px; z-index: 999999;">
            <a href="https://api.whatsapp.com/send?phone=919399938906"><img src="/assets/img/whatsapp.png"></a>
        </div>

        <footer class="footer-area1">

            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="footer-left">
                            <div class="footer-logo">
                                <a href="#"><img src="/assets/img/logo/logo.png" alt="logo" width="200px" height="70px"></a>
                            </div>
                            <p>
                                Partnered with leading banks & NBFC’s PAN India, Finocred Finserv is India's No.1
                                Personal Loan, Business Loan, Home Loan and Credit Cards, among others.
                            </p>

                            <div class="footer-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/finocredfinserv" class="fb" target="_blank"><img src="/assets/img/fb.png"></a>
                                        <a href="https://twitter.com/finocred" class="twit" target="_blank"><img src="/assets/img/twt.png"></a>
                                        <a href="https://www.linkedin.com/company/finocred" class="linkin" target="_blank"><img src="/assets/img/linkedin.png"></a>
                                        <a href="https://www.instagram.com/finocred/?hl=en" class="pint" target="_blank"><img src="/assets/img/inst.png"></a>
                                        <a href="https://www.youtube.com/channel/UC3LKpp2fujyaoEnk34RjN0A" class="pint" target="_blank"><img src="/assets/img/tube.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="footer-middle">
                            <h2 class="footer-title">Quick Links</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <ul class="footer-list">
                                        <li><a asp-action="personal" asp-controller="loans"><i class="fas fa-angle-right"></i>Personal Loan</a></li>
                                        <li><a asp-action="business" asp-controller="loans"><i class="fas fa-angle-right"></i>Business Loan</a></li>
                                        <li><a asp-action="home" asp-controller="loans"><i class="fas fa-angle-right"></i>Home Loan</a></li>
                                        <li><a asp-action="index" asp-controller="creditcard"><i class="fas fa-angle-right"></i>Credit Card</a></li>
                                        <li><a asp-action="partner" asp-controller="home"><i class="fas fa-angle-right"></i>Partner With Us</a></li>
                                        <li><a asp-action="career" asp-controller="home"><i class="fas fa-angle-right"></i>Career</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <ul class="footer-list2">

                                        <li><a asp-action="aboutus" asp-controller="home"><i class="fas fa-angle-right"></i>About Us</a></li>
                                        @*<li><a href="https://finocred.com"><i class="fas fa-angle-right"></i>Gallery</a></li>*@
                                        <li><a asp-action="contactus" asp-controller="home"><i class="fas fa-angle-right"></i>Contact Us</a></li>
                                        <li><a asp-action="disclaimer" asp-controller="home"><i class="fas fa-angle-right"></i>Disclaimer</a> </li>
                                        <li> <a asp-action="privacy" asp-controller="home"><i class="fas fa-angle-right"></i>Privacy Policy</a></li>
                                        <li><a asp-action="termsandconditions" asp-controller="home"><i class="fas fa-angle-right"></i>Terms & Condition</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="footer-right">
                            <h2 class="footer-title">Contact Us</h2>
                            <p>
                                <img src="/assets/img/map.png" class="img">
                                <span style="text-align:justify">3rd Floor, Sangam Tower, Zone 1</span>
                                <br>
                                <span style="margin-left: 36px;">MP Nagar, Bhopal MP, 462023</span>
                            </p>
                            <p><img src="/assets/img/call%20us.png" class="img"> +91-9111 666 981</p>
                            <p><img src="/assets/img/call%20us.png" class="img"> +91-9399 938 906</p>
                            <p><img src="/assets/img/email.png" class="img"> contact@finocred.com</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="copyright-area">
                                <p>Copyright © @DateTime.Now.Year All Rights Reserved. @Html.Raw("v" + GetType().Assembly.GetName().Version.ToString())</p>
                                <div class="copyright-img1">
                                    <img src="/assets/img/figure/figure4.png" alt="figure" width="20" height="20">
                                </div>
                                <div class="copyright-img2">
                                    <img src="/assets/img/figure/figure4.png" alt="figure" width="20" height="20">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/sal.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/vendor/nivo-slider/jquery.nivo.slider.js"></script>
    <script src="~/assets/js/home.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>
    <script src="~/assets/js/circle-progress.min.js"></script>
    <script src="~/assets/js/main.js"></script>


    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',') + " +";
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/61dfc374f7cf527e84d1e2a8/1fp9170os';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
