<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_PersonalLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Documents Required for Personal Loan</h2>
                    <div class="service-img">
                        <img src="/img/slider/personalloan2.png" alt="service" width="779" height="400">
                    </div>
                    <h4>List of Documents Required for Personal Loan</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td class="th border-white wd30">Document</td>
                                <td class="th">Requirement</td>
                            </tr>
                            <tr>
                                <td>KYC</td>
                                <td>Aadhaar/ PAN Card.</td>
                            </tr>
                            <tr>
                                <td>Current Address Proof</td>
                                <td>Passport/ Utility bills/ Rent Agreement.</td>
                            </tr>
                            <tr>
                                <td>Income Documents</td>
                                <td>Latest salary slip.</td>
                            </tr>
                            <tr>
                                <td>Financial Documents</td>
                                <td>Bank account statement and salary credit statement of the past 3 months.</td>
                            </tr>
                            <tr>
                                <td>Employment Proof</td>
                                <td>Employment certificate and degree certificate for professionals such as chartered accountant, doctor, or company secretary.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>