
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_PersonalLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Personal Loan Eligibility Criteria</h2>
                    <div class="service-img">
                        <img src="/img/slider/personalloan3.png" alt="service" width="779" height="400">
                    </div>
                    <h4>Eligibility Criteria of Personal Loan</h4>
                    <ul class="list-group-item list">
                        <li><i class="fas fa-angle-double-up"></i> Any Indian citizen in good standing who is salaried, self-employed or business person with regular source of income can apply for a personal loan.</li>
                        <li><i class="fas fa-angle-double-up"></i> The applicant should be above the age of 24 years</li>
                        <li><i class="fas fa-angle-double-up"></i> Should be currently employed with existing organization or been involved in your business for a specific number of years.</li>
                        <li><i class="fas fa-angle-double-up"></i> Professional stability and savings history play a major role in approval of the loan, especially minimum required monthly salary and repaying capacity</li>
                        <li><i class="fas fa-angle-double-up"></i> Bad credit history would prove to be a put-off, especially anytime within 3 months prior to applying for personal loan.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

