<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_PersonalLoanPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Personal Loan Overview</h2>
                    <p><b>For your every financial need</b></p>
                    <div class="service-img">
                        <img src="img/slider/personalloan.png" alt="service" width="779" height="400">
                    </div>
                    <h4>Instant Personal Loan for Your Various Needs</h4>
                    <p><b>Minimal Requirements | Instant Approval | Quick Disbursal | Prepayment Perks</b></p>
                    <p>In today’s modern financial market, borrowers expect convenience and speed. We, at Ekagra Finserv., understand that need and now offer a personal loan that perfectly caters to the new-age borrower. This loan is loaded with features, digital provisions, and perks that not only save you time and money, but also reduce the effort required to get funds.</p>
                    <p>In just a few clicks, you can apply for the loan and get a high-value, multi-purpose sanction. Within minutes, you can get approved for a personal loan at competitive and customised terms and authorise online disbursal. We optimise every step of this journey to ensure you have the best borrowing experience, right from loan planning with the online EMI calculator, to loan application, disbursal, and repayment.</p>
                    <h4>Various Personal Loan Needs</h4>
                    <p>Our multipurpose loan can also be used to meet any financial obligation or expense. There are no restrictions on usage whatsoever.</p>
                    <ul class="list-group-item list">
                        <li><i class="fas fa-angle-double-up"></i> Host a wedding</li>
                        <li><i class="fas fa-angle-double-up"></i> Fund higher education</li>
                        <li><i class="fas fa-angle-double-up"></i> Address a medical emergency</li>
                        <li><i class="fas fa-angle-double-up"></i> Renovate a home</li>
                        <li><i class="fas fa-angle-double-up"></i> Make business or professional expenses</li>
                        <li><i class="fas fa-angle-double-up"></i> Pay for overseas travel or a vacation</li>
                        <li><i class="fas fa-angle-double-up"></i> Consolidate high-interest debt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>