<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CreditCardPartial" />
            </div>

            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Documents Required for Credit Card</h2>
                    <div class="service-img">
                        <img src="/img/slider/slider4.png" alt="service" width="779" height="400">
                    </div>

                    <h3>
                        Documents Required
                    </h3>
                    <ul class="service-list">
                        <li>
                            <i class="fas fa-check"></i> Duly Filled Application Form:

                            Passport-Size Photographs
                            Identity and Signature Proof
                            Passport
                            Pan Card
                            Driving License
                            Voter ID
                            Aadhar Card
                            Employee Identity Card in case of Government Employees
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Address Proof:

                            Bank Statement
                            Rent Agreement
                            Voter ID
                            Ration Card
                            Passport
                            Bills
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Photo Identity Proof/ Age Proof:

                            Voter ID
                            Secondary School Leaving Certificate
                            Birth Certificate
                            Passport
                            Aadhar Card
                            Pension Payment Order
                            Receipt of LIC Policy
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Income Proof:

                            Salary Certificate
                            ITR
                            2 years Form 16
                            Advance Income Tax Paid Challans
                            3 years Assessment Orders
                            Registration of Business
                        </li>
                    </ul>


                </div>
            </div>

        </div>
    </div>
</section>