
<section class="single-service-wrap1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-3 widget-break-lg sidebar-widget">
                <partial name="_CreditCardPartial" />
            </div>
            <div class="col-lg-9">
                <div class="single-service-box1">
                    <h2 class="section-title">Credit Card Eligibility</h2>
                    <div class="service-img">
                        <img src="/img/slider/slider4.png" alt="service" width="779" height="400">
                    </div>
                    <p>
                        finocred.com offers a selection of credit cards in association with Partner Banks and NBFCs to suit individual profiles based on requirements. Each partner financial institution issues credit cards based on eligibility criteria that differ. Here are the generic few of those prescribed criteria, which you need to fulfil before issuing your choice of credit card.
                    </p>
                    <h3>Generic eligibility criteria to avail a Credit card</h3>
                    <ul class="service-list">
                        <li>
                            <i class="fas fa-check"></i> Citizen of India
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Good history of savings
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Professional Stability
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Above 21 years
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Existing and Active Savings Account
                        </li>
                        <li>
                            <i class="fas fa-check"></i> Strong Credit or Credit Score
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</section>

